In [2]:
import pyautogui as pag
import os
import time
import pandas as pd
import VSchool_lib as vsl

In [3]:
df_all = pd.read_csv('all.csv')

In [4]:
df_eng = pd.read_csv('Data/ENG_6_2.csv')

In [6]:
        df_eng['ans'] = df_eng['ans_TH'].replace({
                                                'ก':1,
                                                'ข':2,
                                                'ค':3,
                                                'ง':4,
                                                'จ':5,
                                                'A':1,
                                                'B':2,
                                                'C':3,
                                                'D':4,
                                                'E':5
                                            })
        df_eng['ans_TH'] = df_eng['ans_TH'].replace({
                                        1:'A',
                                        2:'B',
                                        3:'C',
                                        4:'D',
                                        5:'E'
                                    })

In [12]:
pd.concat((df_all,df_eng))[['id','ans']].drop_duplicates().sort_values('id').reset_index(drop=True).to_csv('all.csv')

In [11]:
pd.concat((df_all,df_eng))[['id','ans']].drop_duplicates().sort_values('id').reset_index(drop=True)

              id  ans
0      4-06-01-1    4
1     4-06-01-10    4
2     4-06-01-11    3
3     4-06-01-12    1
4     4-06-01-14    1
...          ...  ...
3599  J-59-16-84    1
3600  J-59-16-85    3
3601  J-59-16-86    2
3602  J-59-16-87    2
3603  J-59-16-88    3

[3604 rows x 2 columns]